$icomoon-font-path: "../fonts" !default;

$fstc-child-bride: "\e924";
$fstc-child-mother: "\e925";
$fstc-coffin: "\e926";
$fstc-fist: "\e927";
$fstc-labour: "\e928";
$fstc-megaphone: "\e929";
$fstc-logo: "\e923";
$fstc-pound: "\e922";
$fstc-arrow-down: "\e919";
$fstc-arrow-left: "\e91a";
$fstc-arrow-reverse: "\e91b";
$fstc-arrow-right: "\e91c";
$fstc-arrow-up: "\e91d";
$fstc-bottle: "\e91e";
$fstc-clock: "\e91f";
$fstc-cup: "\e920";
$fstc-equal: "\e921";
$fstc-menu: "\e916";
$fstc-mortar: "\e917";
$fstc-book: "\e918";
$fstc-speed: "\e900";
$fstc-speech-bubble: "\e901";
$fstc-medicine: "\e902";
$fstc-girl: "\e903";
$fstc-boy: "\e904";
$fstc-arms: "\e905";
$fstc-circle: "\e906";
$fstc-cross: "\e907";
$fstc-dollar: "\e908";
$fstc-donors: "\e909";
$fstc-drop: "\e90a";
$fstc-euro: "\e90b";
$fstc-heart: "\e90c";
$fstc-nappies: "\e90d";
$fstc-pencil: "\e90e";
$fstc-pie-chart: "\e90f";
$fstc-plate: "\e910";
$fstc-scarf: "\e911";
$fstc-search: "\e912";
$fstc-steps: "\e913";
$fstc-stethoscope: "\e914";
$fstc-tent: "\e915";

