@import "variables";

@font-face {
  font-family: 'stcIcons';
  src:  url('#{$icomoon-font-path}/stcIcons.eot?9yohzc');
  src:  url('#{$icomoon-font-path}/stcIcons.eot?9yohzc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/stcIcons.ttf?9yohzc') format('truetype'),
    url('#{$icomoon-font-path}/stcIcons.woff?9yohzc') format('woff'),
    url('#{$icomoon-font-path}/stcIcons.svg?9yohzc#stcIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fstc {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stcIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fstc-logo {
  &:before {
    content: $fstc-logo;
  }
}
.fstc-pound {
  &:before {
    content: $fstc-pound;
  }
}
.fstc-arrow-down {
  &:before {
    content: $fstc-arrow-down;
  }
}
.fstc-arrow-left {
  &:before {
    content: $fstc-arrow-left;
  }
}
.fstc-arrow-reverse {
  &:before {
    content: $fstc-arrow-reverse;
  }
}
.fstc-arrow-right {
  &:before {
    content: $fstc-arrow-right;
  }
}
.fstc-arrow-up {
  &:before {
    content: $fstc-arrow-up;
  }
}
.fstc-bottle {
  &:before {
    content: $fstc-bottle;
  }
}
.fstc-clock {
  &:before {
    content: $fstc-clock;
  }
}
.fstc-cup {
  &:before {
    content: $fstc-cup;
  }
}
.fstc-equal {
  &:before {
    content: $fstc-equal;
  }
}
.fstc-menu {
  &:before {
    content: $fstc-menu;
  }
}
.fstc-mortar {
  &:before {
    content: $fstc-mortar;
  }
}
.fstc-book {
  &:before {
    content: $fstc-book;
  }
}
.fstc-speed {
  &:before {
    content: $fstc-speed;
  }
}
.fstc-speech-bubble {
  &:before {
    content: $fstc-speech-bubble;
  }
}
.fstc-medicine {
  &:before {
    content: $fstc-medicine;
  }
}
.fstc-girl {
  &:before {
    content: $fstc-girl;
  }
}
.fstc-boy {
  &:before {
    content: $fstc-boy;
  }
}
.fstc-arms {
  &:before {
    content: $fstc-arms;
  }
}
.fstc-circle {
  &:before {
    content: $fstc-circle;
  }
}
.fstc-cross {
  &:before {
    content: $fstc-cross;
  }
}
.fstc-dollar {
  &:before {
    content: $fstc-dollar;
  }
}
.fstc-donors {
  &:before {
    content: $fstc-donors;
  }
}
.fstc-drop {
  &:before {
    content: $fstc-drop;
  }
}
.fstc-euro {
  &:before {
    content: $fstc-euro;
  }
}
.fstc-heart {
  &:before {
    content: $fstc-heart;
  }
}
.fstc-nappies {
  &:before {
    content: $fstc-nappies;
  }
}
.fstc-pencil {
  &:before {
    content: $fstc-pencil;
  }
}
.fstc-pie-chart {
  &:before {
    content: $fstc-pie-chart;
  }
}
.fstc-plate {
  &:before {
    content: $fstc-plate;
  }
}
.fstc-scarf {
  &:before {
    content: $fstc-scarf;
  }
}
.fstc-search {
  &:before {
    content: $fstc-search;
  }
}
.fstc-steps {
  &:before {
    content: $fstc-steps;
  }
}
.fstc-stethoscope {
  &:before {
    content: $fstc-stethoscope;
  }
}
.fstc-tent {
  &:before {
    content: $fstc-tent;
  }
}

